body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightskyblue;
}

main {
    background-color: lightgray;
    padding: 1%;
    width: 80%;
    margin: auto;
}

main h2 {
    color: darkblue;
}

main p {
    font-weight: 600;
    font-size: 1.3rem;
}

main p:hover {
    color: red;
}

h1, h2,p {
    text-align: center;
}

footer, header {
    background: gray;
    width: 80%;
    margin: auto;
    color: white;

}
